<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="demofiledir" value="/demofiles/"/>
    <add key="fileReaderUrl" value="/SourceViewer.ashx?loc="/>
    <add key="OldfileReaderUrl" value="/pages/io/Streams.aspx?loc="/>
    <add key="DBconnstring" value="Server=localhost;Database=transparent;Uid=dotnetcert;Pwd=d0tn3tc3rt;"/>
    <add key="uploadDir" value="/demofiles/upload/"/>
    <add key="authCookieName" value="transparent_Auth"/>
    <add key="uploadDir" value="/demofiles/upload/"/>
    <!-- the value of this can't be modified eg. on session demo-->
    <add key="sessionSecurityKey" value="UID"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="404.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="404.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>